vendor
recipes
web/core
web/modules/contrib
web/themes/contrib

web/sites/*/*settings*.php
web/sites/*/*services*.yml

web/sites/*/files
web/sites/*/private

web/themes/custom/react_theme/react-headless/node_modules
web/themes/custom/react_theme/react-headless/dist
web/themes/custom/react_theme/react-headless/dist-ssr

# macOS system files
.DS_Store
